{template 'common/header'}
<!--小程序前端下载-->

<ul class="we7-page-tab">
	<li class="{if $do == 'front_download'}active{/if}"><a
			href="./index.php?c=wxapp&a=front-download&do=front_download&version_id={$version_id}">小程序上传</a></li>
	<li class="{if $do == 'domainset'}active{/if}"><a
			href="./index.php?c=wxapp&a=front-download&do=domainset&version_id={$version_id}">小程序域名设置</a></li>
</ul>
{if $do == 'domainset'}
<div class="panel we7-panel">
	<div class="panel-heading">设置小程序域名</div>
	<div class="panel-body we7-padding">
		<form action="./index.php?c=wxapp&a=front-download&do=domainset&version_id={$version_id}" class="we7-form"
		      method="post">
			<div class="form-group">
				<label class="control-label col-sm-2">设置小程序URL</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="appurl" value="{$appurl}" placeholder="">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"></label>
				<div class="col-sm-10">
					<button class="btn btn-primary" type="submit">更新</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="wxapp-download-procedure">
	<div class="title color-gray">设置小程序域名说明：</div>
	<div class="step">1.设置链接域名，可以在微擎后台设置操作小程序。设置完成后到小程序审核发布里点击下载后，域名更新。</div>
	<div class="step">2.设置后的生效页面（<a href="#" class="color-default">站点管理</a><span class="color-default"><i
			class="wi wi-angle-right"></i></span> <a href="#" class="color-default">站点设置</a>）
	</div>
	<div class="img">
		<img src="/web/resource/images/wxapp/12.png" alt="" class="img-responsive">
	</div>
</div>
{/if}

{if $do == 'front_download'}
<!--在微信小程序后台提交审核-->
{if $uptype == 'normal'}
<div class="media media-wechat-setting">
	<div class="media-left color-default">
		<span class="wi wi-wxapp-webpack" style="font-size: 55px;"></span>
	</div>
	<div class="media-body media-middle ">
		<h4 class="media-heading color-dark">{$wxapp_versions_info['modules'][0]['title']}</h4>
		<div class="color-gray">版本: v{$wxapp_versions_info['version']}</div>
	</div>
	<div class="media-right media-middle">
		<a href="./index.php?c=wxapp&a=front-download&do=getpackage&uniacid={$_W['uniacid']}&version_id={$wxapp_versions_info['id']}"
		   class="btn btn-primary">立即下载</a>
	</div>
</div>

<div class="wxapp-download-procedure">
	<div class="title color-gray">小程序前端下载后操作流程说明：</div>
	<div class="step">1.进入微信小程序后台（mp.weixin.qq.com），添加小程序开发者（如已经是管理员或开发者则不需要添加）</div>
	<div class="img">
		<img src="./resource/images/wxapp/01.png" alt=""/>
		<img src="./resource/images/wxapp/02.png" alt=""/>
	</div>
	<div class="step">2.进入小程序后台，点击设置，开发设置，修改服务器域名（设置自己的微擎域名，<span class="color-default">必须是https://</span>）</div>
	<div class="img">
		<img src="./resource/images/wxapp/03.png" alt=""/>
		<img src="./resource/images/wxapp/04.png" alt=""/>
	</div>
	<div class="step">3.下载 微信web开发者工具（本帖会附上工具下载地址），更新到最新版后（切记），点击，填写小程序appid。将之前<span class="color-default">下载解压后的小程序插件上传</span>
	</div>
	<div class="img">
		<img src="./resource/images/wxapp/05.png" alt=""/>
		<img src="./resource/images/wxapp/06.png" alt=""/>
		<img src="./resource/images/wxapp/07.png" alt=""/>
	</div>
	<div class="step">4.点击项目，上传，并设置版本号和项目名称（项目名称自定义）</div>
	<div class="img">
		<img src="./resource/images/wxapp/08.png" alt=""/>
		<img src="./resource/images/wxapp/09.png" alt=""/>
	</div>
	<div class="step">5.进入小程序后台（mp.weixin.qq.com），点击开发管理，提交审核，小程序<span class="color-default">管理员</span>（必须需要管理员扫描，小程序开发者不可）扫描即可
	</div>
	<div class="img">
		<img src="./resource/images/wxapp/10.png" alt=""/>
		<img src="./resource/images/wxapp/11.png" alt=""/>
	</div>
	<div class="step">6.微信官方审核通过即可使用</div>
</div>
{/if}
<!--end 在微信小程序后台提交审核-->

<!--小程序可自行提交审核-->
{if $uptype=='auto'}
<div class="panel we7-panel wxapp-examine-self we7-margin-top" id="codeupload" ng-controller="code_upload_ctrl">
	<div class="panel-heading">上传小程序代码</div>
	<div class="panel-body">
		<div class="waiting text-center" id="wait_code_token" ng-show="show_wait">
			<div><span class="wi wi-waiting"></span></div>
			<div>正在获取二维码,请耐心等待,等待时间大约</div>
			<div class="second" id="wait_sec">{{wait_sec}}秒</div>
		</div>

		<div class="step we7-flex"  ng-show="!show_wait">
			<div class="one active">
				<span class="wi wi-one"></span>扫描二维码
			</div>
			<div class="arrow">
				<span class="wi wi-step-arrows"></span>
			</div>
			<div class="two" ng-class="{true:'active',false:''}[step>=2]">
				<span class="wi wi-two"></span>填写信息并上传代码
			</div>
			<div class="arrow">
				<span class="wi wi-step-arrows"></span>
			</div>
			<div class="three" ng-class="{true:'active',false:''}[step>=3]">
				<span class="wi wi-three"></span>上传成功
			</div>
		</div>

	</div>
	<div class="panel-footer bg-light-gray" id="readycommit" ng-show="!show_wait">
		<div class="text-center step1" ng-show="show_step1">
			<img alt="" src="{{qrcode_src}}"  class="qr-img" id="qrcode" >
			<div>请先扫描以上二维码，成功后再填写版本信息</div>
		</div>

		<div class="text-center preview"  ng-show="show_preview">
			<img alt="" class="qr-img" id="preview_img" src="{{preview_qrcode}}" >
			<div>微信扫码预览小程序</div>
		</div>

		<form action="" class="we7-form" id="codeform"  ng-show="show_step2">
			<div class="form-group">
				<label class="control-label col-sm-2">版本号</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="user_version" ng-model="user_version">
					<span class="help-block">
													版本号仅限数字
												</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">版本描述</label>
				<div class="col-sm-10">
					<textarea rows="3" class="form-control" id="user_desc" ng-model="user_desc"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"></label>
				<div class="col-sm-10">
					<input type="hidden" name="ticket" id="ticket">
					<input type="hidden" id="version_id" value="{$version_id}">
					<button class="btn btn-primary" type="button" id="preview" ng-disabled="show_preview" ng-click="preview()">预览</button>
					<button class="btn btn-primary" type="button" id="commitcode" ng-click="commit()">上传代码</button>
				</div>
			</div>
		</form>

		<div class="success text-center step3" ng-show="show_step3">
			<div><span class="wi wi-right-sign"></span></div>
			<div class="status-state">上传代码成功，请到微信开发平台小程序后台预览，提交审核应用。</div>
			<div>微信开发平台小程序后台<a href="https://mp.weixin.qq.com/" class="color-default">https://mp.weixin.qq.com/</a></div>
			<div class="btns">
				<a href="https://mp.weixin.qq.com/" class="btn btn-primary">去提交审核</a>
				<a href="/web/index.php?c=wxapp&a=display" class="btn btn-default">小程序首页</a>
			</div>
		</div>
	</div>
</div>
{/if}
<!--end 小程序可自行提交审核-->

<!--end 小程序域名设置-->
{if $uptype == 'auto'}
<script type="text/javascript">
	angular.module('we7codeuploadApp').value('config',{
		'version_id' : {$version_id},
		UUIDURL : "{php echo url('wxapp/front-download/code_uuid')}",
		CODE_GEN_CHECK_URL : "{php echo url('wxapp/front-download/code_gen')}",
		CODE_TOKEN_URL : "{php echo url('wxapp/front-download/code_token')}",
		QRCODEURL : "{php echo url('wxapp/front-download/qrcode')}",
		CHECKSANURL : "{php echo url('wxapp/front-download/checkscan')}",
		PREVIEWURL : "{php echo url('wxapp/front-download/preview')}",
		COMMITURL : "{php echo url('wxapp/front-download/commitcode')}"
	});
	angular.bootstrap($('#codeupload'), ['we7codeuploadApp']);
</script>

{/if}
{/if}
{template 'common/footer'}