<div class="second-sidebar-title">
	设置
</div>
<div class="nav slimscroll">
	{ifp 'config.mall'}
		<div class="menu-header">平台</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/mall/basic'}class="active"{/if}>
				<a href="{php echo iurl('config/mall/basic');}">基础设置</a>
			</li>
			<li {if $_W['_router'] == 'config/mall/follow'}class="active"{/if}>
				<a href="{php echo iurl('config/mall/follow');}">分享及关注</a>
			</li>
			<li {if $_W['_router'] == 'config/mall/close'}class="active"{/if}>
				<a href="{php echo iurl('config/mall/close');}">平台状态</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.trade'}
		<div class="menu-header">交易</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/trade/payment'}class="active"{/if}>
				<a href="{php echo iurl('config/trade/payment');}">支付方式</a>
			</li>
			<li {if $_W['_router'] == 'config/trade/recharge'}class="active"{/if}>
				<a href="{php echo iurl('config/trade/recharge');}">充值</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.notice'}
		<div class="menu-header">消息推送</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/notice/wxtemplate'}class="active"{/if}>
				<a href="{php echo iurl('config/notice/wxtemplate');}">模板消息</a>
			</li>
			<li {if $_W['_router'] == 'config/notice/sms'}class="active"{/if}>
				<a href="{php echo iurl('config/notice/sms');}">短信消息</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.sms'}
		<div class="menu-header">短信平台</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/sms/set'}class="active"{/if}>
				<a href="{php echo iurl('config/sms/set');}">短信接入</a>
			</li>
			<li {if $_W['_router'] == 'config/sms/template'}class="active"{/if}>
				<a href="{php echo iurl('config/sms/template');}">短信模板</a>
			</li>
		</ul>
	{/if}
		<div class="menu-header">敏感词</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/sensitive'}class="active"{/if}>
				<a href="{php echo iurl('config/sensitive');}">敏感词过滤</a>
			</li>
		</ul>
		<div class="menu-header">顾客设置</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/member'}class="active"{/if}>
				<a href="{php echo iurl('config/member');}">顾客设置</a>
			</li>
		</ul>
	{ifp 'config.store'}
		<div class="menu-header">商户</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/store/delivery'}class="active"{/if}>
				<a href="{php echo iurl('config/store/delivery');}">配送模式</a>
			</li>
			<li {if $_W['_router'] == 'config/store/serve_fee'}class="active"{/if}>
				<a href="{php echo iurl('config/store/serve_fee');}">服务费率</a>
			</li>
			<li {if $_W['_router'] == 'config/store/settle'}class="active"{/if}>
				<a href="{php echo iurl('config/store/settle');}">商户入驻</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.takeout'}
		<div class="menu-header">外卖</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/takeout/range'}class="active"{/if}>
				<a href="{php echo iurl('config/takeout/range');}">服务范围</a>
			</li>
			<li {if $_W['_router'] == 'config/takeout/order'}class="active"{/if}>
				<a href="{php echo iurl('config/takeout/order');}">订单相关</a>
			</li>
			<li {if $_W['_router'] == 'config/takeout/deliveryer'}class="active"{/if}>
				<a href="{php echo iurl('config/takeout/deliveryer');}">配送员提成</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.deliveryer'}
		<div class="menu-header">配送员</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/deliveryer/settle'}class="active"{/if}>
				<a href="{php echo iurl('config/deliveryer/settle');}">配送员申请</a>
			</li>
			<li {if $_W['_router'] == 'config/deliveryer/cash'}class="active"{/if}>
				<a href="{php echo iurl('config/deliveryer/cash');}">提现设置</a>
			</li>
		</ul>
	{/if}
	{if check_plugin_exist('managerApp') || check_plugin_exist('customerApp') || check_plugin_exist('deliveryerApp')}
		<div class="menu-header">APP设置</div>
		<ul class="menu-item">
			{if check_plugin_exist('deliveryerApp')}
				<li {if $_W['_router'] == 'config/app/deliveryer'}class="active"{/if}>
					<a href="{php echo iurl('config/app/deliveryer');}">配送员APP</a>
				</li>
			{/if}
			{if check_plugin_exist('managerApp')}
				<li {if $_W['_router'] == 'config/app/manager'}class="active"{/if}>
					<a href="{php echo iurl('config/app/manager');}">商家APP</a>
				</li>
			{/if}
			{if check_plugin_exist('customerApp')}
				<li {if $_W['_router'] == 'config/app/customer'}class="active hide"{/if}>
					<a href="{php echo iurl('config/app/customer');}">顾客APP</a>
				</li>
			{/if}
		</ul>
	{/if}
	{ifp 'config.label' || 'config.report' || 'config.help'}
		<div class="menu-header">其他</div>
		<ul class="menu-item">
			{ifp 'config.label'}
				<li {if $_W['_router'] == 'config/label/TY_store_label'}class="active"{/if}>
					<a href="{php echo iurl('config/label/TY_store_label');}">商户标签</a>
				</li>
			{/if}
			{ifp 'config.report'}
				<li {if $_W['_router'] == 'config/report/list'}class="active"{/if}>
					<a href="{php echo iurl('config/report/list');}">商户举报类型</a>
				</li>
			{/if}
			{ifp 'config.help'}
				<li {if $_W['_action'] == 'help'}class="active"{/if}>
					<a href="{php echo iurl('config/help/list');}">常见问题</a>
				</li>
			{/if}
		</ul>
	{/if}
	{ifp 'config.cover'}
		<div class="menu-header">入口</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/cover/index'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/index');}">平台入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/manage'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/manage');}">商家管理入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/settle'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/settle');}">商家入驻入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/delivery'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/delivery');}">配送员入口</a>
			</li>
		</ul>
	{/if}
</div>
