{itemplate 'public/header'}
<div class="page clearfix page-config-store-delivery">
	<h2>配送员申请</h2>
	<form class="form-horizontal form form-validate" id="form1" action="" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>最低提现金额</label>
			<div class="col-sm-9 col-xs-12">
				<div class="input-group">
					<input type="text" name="get_cash_fee_limit" digits="true" value="{$cash['get_cash_fee_limit']}" class="form-control"/>
					<span class="input-group-addon">元</span>
				</div>
				<div class="help-block">只能填写整数，不填写为不限制</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>提现费率</label>
			<div class="col-sm-9 col-xs-12">
				<div class="input-group">
					<input type="text" name="get_cash_fee_rate" required="true" value="{$cash['get_cash_fee_rate']}" class="form-control"/>
					<span class="input-group-addon">%</span>
				</div>
				<div class="help-block">
					配送员申请提现时，每笔申请提现扣除的费用，默认为空，即提现不扣费，支持填写小数
					<br>
					<strong clas="text-danger">配送员入驻时的默认提现费率</strong>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>提现费用</label>
			<div class="col-sm-9 col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">最低</span>
					<input type="text" name="get_cash_fee_min" required="true" value="{$cash['get_cash_fee_min']}" class="form-control"/>
					<span class="input-group-addon">元</span>
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon">最高</span>
					<input type="text" name="get_cash_fee_max" required="true" value="{$cash['get_cash_fee_max']}" class="form-control"/>
					<span class="input-group-addon">元</span>
				</div>
				<div class="help-block">
					<strong class="text-danger">最高金额设置为0， 表示不限制最高提现费用。</strong>
					<br>
					配送员提现时，提现费用的上下限，最高为空时，表示不限制扣除的提现费用
					<br>
					例如：提现100元，费率5%，最低1元，最高2元，配送员最终提现金额=100-2=98
					<br>
					例如：提现100元，费率5%，最低1元，最高10元，配送员最终提现金额=100-100*5%=95
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">提现到账周期</label>
			<div class="col-sm-9 col-xs-12 toggle-tabs" data-content=".get-cash-period-type">
				<div class="radio radio-inline">
					<input type="radio" value="0" name="get_cash_period" id="get_cash_period-0" {if empty($cash['get_cash_period'])}checked{/if}>
					<label for="get_cash_period-0" class="toggle-role" data-target="get_cash_period-0">管理员审核</label>
					<div class="help-block"></div>
				</div>
				<div class="radio radio-inline">
					<input type="radio" value="1" name="get_cash_period" id="get_cash_period-1" {if $cash['get_cash_period'] == 1}checked{/if}>
					<label for= "get_cash_period-1" class="toggle-role" data-target="get_cash_period-1">极速到账</label>
				</div>
				<div class="help-block">
					商户提现默认为需要管理员审核确定后才能转账 <br>
					极速转账:不需要管理员审核直接转账
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-xs-9 col-md-9">
				<input type="submit" value="提交" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>
{itemplate 'public/footer'}
