{itemplate 'public/header'}
{if $op == 'list'}
<form action="" class="form-table" method="post">
	<div class="panel panel-table">
		<div class="panel-heading">
			<a href="{php echo iurl('config/help/post');}" class="btn btn-primary btn-sm">添加常见问题</a>
		</div>
		<div class="panel-body table-responsive js-table">
			{if empty($helps)}
				<div class="no-result">
					<p>还没有相关数据</p>
				</div>
			{else}
				<table class="table table-hover">
					<thead>
					<tr>
						<th>排序</th>
						<th>内容标题</th>
						<th>添加时间</th>
						<th style="width:400px; text-align:right;">操作</th>
					</tr>
					</thead>
					{loop $helps $item}
						<tr>
							<input type="hidden" name="ids[]" value="{$item['id']}">
							<td><input type="text" name="displayorder[]" class="form-control width-100" value="{$item['displayorder']}"></td>
							<td><input type="text" name="title[]" class="form-control width-130" value="{$item['title']}"></td>
							<td>{php echo date('Y-m-d H:i:s', $item['addtime'])}</td>
							<td style="text-align:right;">
								<a href="{php echo iurl('config/help/post', array('id' => $item['id']))}" class="btn btn-default btn-sm"><i class="fa fa-edit"> </i> 编辑</a>
								<a href="{php echo iurl('config/help/del', array('id' => $item['id']))}" class="btn btn-default btn-sm js-remove" data-confirm="删除后将不可恢复，确定删除吗?"><i class="fa fa-times"> </i> 删除</a>
							</td>
						</tr>
					{/loop}
				</table>
				<div class="btn-region clearfix">
					<div class="pull-left">
						<input name="token" type="hidden" value="{$_W['token']}" />
						<input type="submit" class="btn btn-primary btn-sm" name="submit" value="提交修改" />
					</div>
				</div>
			{/if}
		</div>
	</div>
</form>
{/if}

{if $op == 'post'}
<div class="page clearfix">
	<h2>编辑常见问题</h2>
	<form class="form-horizontal form form-validate" id="form1" action="" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
			<div class="col-sm-9 col-xs-12">
				<input type="number" class="form-control" name="displayorder" value="{$item['displayorder']}">
				<div class="help-block">数字越大越靠前</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">问题标题</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" name="title" value="{$item['title']}" required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">问题内容</label>
			<div class="col-sm-9 col-xs-9 col-md-9">
				{php echo itpl_ueditor('content', $item['content']);}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-xs-9 col-md-9">
				<input type="hidden" name="token" value="{$_W['token']}">
				<input type="submit" value="提交" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>
{/if}
{itemplate 'public/footer'}
